#outside {
  z-index: 1;
  position: absolute;
  
  
  background-color: lightgray;
  width: 50%;
  height: 50%;
  text-align: center;
  transition: 1s;
  transform-origin: 0;
}

.open-card {
  transform: rotateY(90deg);
}

#outside-title {
  color: black;
  font-family: Courier;
  font-size: 12pt;
  text-align: center;
}

#outside-help {
  color: black;
  font-family: Courier;
  font-size: 12pt;
  text-align: center;
  padding: 20px;
}

#inside {
  z-index: 0;

  position: absolute;
 
  background-color: white;
  width: 50%;
  height: 50%;
  text-align: center;
}

#inside-title {
  color: black;
  font-family: Courier;
  font-size: 12pt;
  text-align: center;
}



#message {
  color: black;
  font-family: Courier;
  font-size: 12pt;
  text-align: center;
}

button {
  background: silver;
}