/* Visit https://nicolaskadis.info/posts/pure-css-flip-cards-using-bootstrap-4-and-css-grid-no-js for an explanation */

body{
  background-image: url("fairy.jpg");

  background-position: center;
 background-repeat: no-repeat;
 background-size: cover;

}
.card-text{
  font-family: 'Londrina Solid', cursive;
  font-size: 1.2em;

}
.nav-link,.navbar-brand{
  font-family: 'Lobster', cursive;
  font-size: 1.5rem;
}
/* for demo purposes */
.card {
  margin: 100px 10px;
    font-family: 'Lobster', cursive;
    font-size: 1rem;
}
H4{
  text-align: center;
}
/* Flip Cards CSS */
.card-container {
  display: grid;
  perspective: 700px;
  width: 450px;
  height: 500px;

}

.card-flip {
  display: grid;
  grid-template: 1fr / 1fr;
  grid-template-areas: "frontAndBack";
  transform-style: preserve-3d;
  transition: all 0.7s ease;
}

.card-flip div {
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.front {
  grid-area: frontAndBack;
}

.back {
  grid-area: frontAndBack;
  transform: rotateY(-180deg);
}

.card-container:hover .card-flip {
  transform: rotateY(180deg);
}
